<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header/header') %>
</head>
<body>  
    <%- include('./header/svg') %>
    <%- include('./header/nav') %>
    <h1>Sayfa Bulunamadı</h1>
</body>
</html>