<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./header/header') %>
</head>

<body>
    <%- include('./header/svg') %>
        <%- include('./header/nav') %>
            <div class="main">
                <div class="main-img">
                    <img src="main.png">
                </div>
                <div class="textbox">
                    <div class="main-title">Apartman, Site Yönetim Yazılımı</div>
                    <div class="main-text">
                        PROCELL yazılımı sayesinde daha toplu ve huzurlu yönetime merhaba diyin.
                        <img class="textline1" src="textline1.png">
                    </div>
                    <div class="main-bottom-text">
                        PROCELL; etkileşimli kolaylaştırılmış site yönetim aracı
                        <img class="textline2" src="textline2.png">
                    </div>
                </div>
            </div>
</body>

</html>