<div class="menu">
    <div class="menu-logo">
        <img src="../procell-logo.png">
    </div>
    <div class="menu-item">
        <div class="menu-item-link">
            <a href="/">
                Kimler için?
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-link">
            <a href="/about">
                Ürünler
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-link">
            <a href="/about">
                Çözümler
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-link">
            <a href="/about">
                Akademi
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-link">
            <a href="/about">
                Kampanyalar
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-link">
            <a href="/blog">
                Blog
            </a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-link">
            <a href="/about">
                Ürünler
            </a>
        </div>
    </div>

        <div class="menu-item">
            <div class="menu-item-link">
                <a class="login-btn" href="/logout">
                    Çıkış
                </a>
            </div>
        </div>

            <div class="menu-item">
                <div class="menu-item-link">
                    <a class="login-btn" href="/login">
                        Giriş
                    </a>
                </div>
            </div>

                <div class="menu-item">
                    <div class="menu-item-link">
                        <a href="/signup" class="login-btn">Kayıt Ol</a>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-link lang">
                        <span>TR</span>
                        <svg class="icon icon-bottom-arrow">
                            <use xlink:href="#icon-bottom-arrow"></use>
                        </svg>
                    </div>
                </div>
</div>